apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_name }}
spec:
  hosts:
    - hostname: {{ cluster_name }}
      networkConfig:
        interfaces:
          - name: eth0
            type: ethernet
            ipAddress: {{ ip_address }}
            gateway: {{ gateway }}
            dns:
              - {{ dns_servers | join("\n              - ") }}
      role: master
  clusterImageSet: openshift-v{{ openshift_version }}
  pullSecretRef:
    name: pull-secret
