apiVersion: v1
baseDomain: "{{ base_domain}}"
metadata:
  name: "{{ cluster_name }}"
compute:
- name: worker
  architecture: amd64
  replicas: 0
controlPlane:
  architecture: amd64
  name: master
  replicas: 1
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
  machineNetwork:
  - cidr: "{{ cidr_and_subnet }}"
platform:
  none: {}
fips: false
pullSecret: '{{ lookup('file', path_to_pull_secret) }}'
sshKey: "{{ ssh_public_key }}"
additionalTrustBundle: |
  {{ lookup('file', path_to_ca_cert).splitlines() | join('\n  ') }}

imageDigestSources:
- mirrors:
  - {{ my_container_image_registry }}/mirror/openshift/release
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ my_container_image_registry }}/mirror/openshift/release-images
  source: quay.io/openshift-release-dev/ocp-release
