apiVersion: v1
baseDomain: "{{ base_domain}}"
metadata:
  name: "{{ cluster_name }}"
compute:
- name: worker
  architecture: amd64
  replicas: 0
controlPlane:
  architecture: amd64
  name: master
  replicas: 1
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
  machineNetwork:
  - cidr: 10.0.249.0/24
platform:
  none: {}
fips: false
pullSecret: '{{ lookup('file', path_to_pull_secret) }}'
sshKey: "{{ ssh_public_key }}"
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIE5jCCA86gAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgZMxCzAJBgNVBAYTAkRF
  MRQwEgYDVQQIDAtCcmFuZGVuYnVyZzEQMA4GA1UEBwwHQ290dGJ1czEQMA4GA1UE
  CgwHUHJpdmF0ZTENMAsGA1UECwwESG9tZTEVMBMGA1UEAwwMUGF0cmljayBKYWhu
  MSQwIgYJKoZIhvcNAQkBFhVwcml2YXRAcGF0cmlja2phaG4uZGUwHhcNMTcwMzI3
  MDgxMjAzWhcNMjcwMzI1MDgxMjAzWjCBhTELMAkGA1UEBhMCREUxFDASBgNVBAgM
  C0JyYW5kZW5idXJnMRAwDgYDVQQKDAdQcml2YXRlMQ0wCwYDVQQLDARIb21lMRkw
  FwYDVQQDDBBJbnRlcm1lZGlhdGUgQ1NSMSQwIgYJKoZIhvcNAQkBFhVwcml2YXRA
  cGF0cmlja2phaG4uZGUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDG
  C0cqxqFxTSfyL6T+tvRr4OCU5hGzrwAMpjDceNJv/7WLX6pNEBPXKgNK+Of8jnZR
  l63686S/aojEfpvf3mS/CrxgcgrBIGJP2Q75nw4w/2OPZK+LO3+dZU+e+qd1+oH8
  Ae1wqjgoAliiGRhWCYkbucMjlX54zc1O/0+fHvg5oD+EGaohSrMdoyny/pTKO5e2
  MPcB+QaRR1UwDdiTyIksBCTbPGgwa/101UePO/evzIezC08ILTj3lXlQgWHaezek
  rqROHCC774lrwKz0t1oNheYQq+PtZOyRs25fDzrnvNkSTyNtoHxnpEj0sy4/GBUw
  lNNfnMisD7Q90r4OV2+XIwX8WEakVH3gxX0KSklxuGs60qdD6Y0IvDkZQ5TpuIpY
  mKTXtacYOmuuH6ni5JA6eOsFqTryCmCgCGiXPZbkFOC5/5EIP8FQ4lNJGzw2WiBL
  WxvnpuU+Snl1WIq5USa+BTD1FXHrAeF6AGycRaiYqfxjQ6vUDppMKKZXCM2uKPBC
  1U/TzcOlOEZvZa++8SYkZ5vhEZSBxspKrwd1RvfoqIZWI7xjyO6YrnNMaWnEYkpu
  o3bOKs1WoWMTNxEmOcuo6L8WMdkXM9QTtvZTQhXWzUiH9ZgouJGPBySHO6YHU8Im
  z+0mqZRqdcpCD9EAZmVlqqgDbnO4WOBbRrCCVtQ72QIDAQABo1AwTjAdBgNVHQ4E
  FgQU7Wi6HQtCLl9K2n5zbbwXxKoAtLAwHwYDVR0jBBgwFoAUv1LCPnPR0oAmaSo7
  2JlblmQX5B0wDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAZV3iEGpS
  +XaAxhCjjVYLO0MEvOt6d4gMiE4tROSb0ytGS5R8X4Fzi3DTV2DT0X0mEKgq7e91
  W4LfYBwiDPdd7Bw8ZFxaiAugLkcB45/22D1GPO+bY4j6pjWgAilsY/+Oo3/Psoiw
  BszaCD2qXHMsvquwiJpQuILNSWBrVlWIbVlEZYNLIiT/wU2mT706/K/WWrTeJi8w
  ZEAx7eiCt79p2RNvOI2Zyr+OS8uKuI2HWv80tYIT9qB2kKDKhIUvWMHIq1fTfbf6
  wUDHaX9ckL/uA1lrqt61aW36qVEBgD0U2nIkl2LzdzzLUT1bFSxMnT+aq26dCxxr
  9Xlz7g2vuqIgjw==
  -----END CERTIFICATE-----
  -----BEGIN CERTIFICATE-----
  MIID+zCCAuOgAwIBAgIJAModOrr/0hRlMA0GCSqGSIb3DQEBCwUAMIGTMQswCQYD
  VQQGEwJERTEUMBIGA1UECAwLQnJhbmRlbmJ1cmcxEDAOBgNVBAcMB0NvdHRidXMx
  EDAOBgNVBAoMB1ByaXZhdGUxDTALBgNVBAsMBEhvbWUxFTATBgNVBAMMDFBhdHJp
  Y2sgSmFobjEkMCIGCSqGSIb3DQEJARYVcHJpdmF0QHBhdHJpY2tqYWhuLmRlMB4X
  DTE3MDMyNTE1NTAyOVoXDTM3MDMyMDE1NTAyOVowgZMxCzAJBgNVBAYTAkRFMRQw
  EgYDVQQIDAtCcmFuZGVuYnVyZzEQMA4GA1UEBwwHQ290dGJ1czEQMA4GA1UECgwH
  UHJpdmF0ZTENMAsGA1UECwwESG9tZTEVMBMGA1UEAwwMUGF0cmljayBKYWhuMSQw
  IgYJKoZIhvcNAQkBFhVwcml2YXRAcGF0cmlja2phaG4uZGUwggEiMA0GCSqGSIb3
  DQEBAQUAA4IBDwAwggEKAoIBAQDdOb/m39xf6T2lBiguFr8TTesHS/fWj6AFJ2gV
  lHwbFiWrMx7pYLqK3DzwUiIFKjWrrtYe+d5lYOvsKaWPkq3j/pyXmJdAlhU27Gsi
  EKdV1Zdtdj+0Ro3wEeq4ZebPz8R58ZjtcMGSrXahYX17P0v768h+kuWasrfU5bwa
  GiwNB2upOuDGUvYzG8MKaPA/FWTQSA3/VseEb18cAcuKeVJIAjPsVX7F0Kuvv5cE
  QbnvZp+M7N1ripBNSF/W/H5uezFfDYnvHHhNsgNoW0VfmlX+izNc8Mkjtxx6A+C9
  7LFBTo9V/aaLNL4vPxZ3ZIejCnyV57ewqHfffDEl0a5FwI3VAgMBAAGjUDBOMB0G
  A1UdDgQWBBS/UsI+c9HSgCZpKjvYmVuWZBfkHTAfBgNVHSMEGDAWgBS/UsI+c9HS
  gCZpKjvYmVuWZBfkHTAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCQ
  mdDGSuq4FZnQ1XqDPFlT62tD6pBBPFc5i3EnpGOOOHtmfGg0NgNR/QgEG4ZytjeK
  lGKxy+gcIcI/7WsEqpme3j6+2nxfyg9okT1ZeZHUVQDrXZdtVRbz/T2JmD0qDu33
  1TJf9Ku67n2KATZyDTNGb0QteeOhd8YRb7qEhB+pOPUruzPHNKUP/E0kk9NoH9i6
  Bnpe/kiIsALaNVxk+0NAVtpGtgxGdtimn5AlczZFFcT9/lLwjr8UNx5W/yForIJu
  2eGsMBqAh5yCiZmDahlbw++jvV4lCpkd1mumY4Iq8//OgPYSIjZdfXd3i29RrF3D
  cAmWuqI82LMLcoCnRvAJ
  -----END CERTIFICATE-----

imageContentSources:
- mirrors:
  - patrick.artifactory.home.local/mirror/openshift/release
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - patrick.artifactory.home.local/mirror/openshift/release-images
  source: quay.io/openshift-release-dev/ocp-release
